*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: monospace;
    /* outline: 1px solid red; */
    color: white;
    margin: 0;
}

body {
    background-color: #f6f0ed;
    margin: 0px;
}

.container {
    background-color: #1f2937;
    padding-top: 1rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.link {
    font-size: 15px;
    text-decoration: none;
    scroll-behavior: smooth;
}

.link:hover {
    color: #3b82f6;
}

.logo {
    font-size: 15px;
    margin-left: 50px;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

.top strong {
    text-decoration: underline;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}


.headertext {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.headerpara {
    color: rgba(255, 255, 255, 0.705);
}

button {
    cursor:pointer;
}

.headersignup {
    display: block;
    text-align: center;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    background-color: #3b82f6;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.headersignup:hover {
    background-color: #3b83f6c0;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    max-height: 100%;
}

@media only screen and (max-width: 700px) {

    .top {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    img {
        padding-top: 2rem;
    }
}

.viewsection {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.cards p {
    color: black;
    text-align: center;
    width: 250px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.card {
    width: 250px;
    height: 200px;
    border-radius: 2vw;
    overflow: hidden;
    /* border: #3b82f6 solid 3px; */
}


.quotesection {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote {
    margin-left: 200px;
    margin-right: 200px;
}

.quote p q{
    color: black;
    font-size: 30px;
}
.quote p{
    color: black;
    font-size: 30px;
}

q::before, q::after {
    color: black;
}

.calltoactioncontainer {
    background-color: #3b82f6;
    padding: 2% 5% 2% 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.ctatext{
    text-align: left;
}

.ctabtn {
    margin-left: auto;
}

.calltoactionbtn {
    color: #3b82f6;
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.calltoactionbtn:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.quoteauthor {
    color:#3b82f6;
    text-decoration: underline;
}

.quoteauthor:hover {
    color:#3b83f6d0;
}


footer {
    background-color: #1f2937;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3{
    margin: 0%;
}

